<h1>Night-time break-in</h1>

<h2>Someone has broken into a generic chain fast food store and is cooking free food!</h2>

<div class="row content-center">
  <div class="col">
    <h2>Create a new Burger!</h2>
    <form class="create-form form-inline">

      <div class="form-group">
        <label for="burger-name">Burger Name:</label>
        <input type="text" id="burger-name" name="name">
      </div>

      <button type="submit">Create burger!</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Just waiting to be consumed........</h2>
    <ul>
      {{#each burger}}
      {{#unless eaten}}
      {{> burger/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col">
    <h2>Leftover wrappers........</h2>
    <ul>
      {{#each burger}}
      {{#if eaten}}
      {{> burger/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>